extends jobmine

block content
  .resume-container
    .header
      h1 Justin Li

      table
        tfoot
          tr
            td(colspan=3) &nbsp;
        tbody
          tr
            td.left: a(href='http://www.j-li.net') j-li.net
            td.center
            td.right jli&#64;j-l<!-- stopping those pesky spammers -->i.net
          tr
            td.left: a(href='http://github.com/j1i') github.com/j1i
            td.center December 2012
            td.right justin.s<!-- stopping those pesky spammers -->dn.li&#64;gmail.com

    :markdown

      Work and Volunteer Experience
      -----------------------------

      ### Developer Intern at [Shopify][] &raquo; June - September 2012
      #### An e-commerce platform hosting over 40,000 stores.
        * Developed major features for the in-house applicant tracking system, including Google Calendar integration, email notifications, applicant evaluation support, and many more
        * Collaborated in an agile, test driven development process involving extensive code review and communication
        * Tools/Frameworks used: Ruby on Rails, SCSS, ActiveRecord, MySQL, PostgreSQL, nginx, Heroku, Git(hub)

      [Shopify]: http://shopify.com

      ### Software Developer at [SageData][] &raquo; June - September 2011
      #### Software company specializing in asset management through barcoding and RFID.
        * Designed and implemented a security patrol tracking system with a small team, creating versions to target desktops, mobile devices, and web clients.
        Shipped the final product to very satisfied customers
        * Developed and conducted automated testing for new software, and performed manual testing for existing software
        * Tools/Frameworks used: Visual C#, ASP.NET, HTML, CSS, MSSQL, PostgreSQL, Mercurial

      [SageData]: http://sagedata.com

      ### Instructor at [Virtual Ventures Summer Camp][] &raquo; Summer of 2010
      #### Summer camp focused on developing youth interest in technology and engineering.
        * Created lesson plans in the areas of computer science, web design, and information security for campers aged 10-15
        * Taught groups of campers how to create websites with HTML and CSS, over SSH and SCP
        * Created a video player system using PHP and MySQL to serve campers every morning and afternoon
        * Tools/Frameworks used: PHP, HTML, CSS, MySQL, bash

      ### Volunteer at [Virtual Ventures Summer Camp][] &raquo; Summers of 2008-2009
        * Aided instructors in teaching lessons by helping struggling campers understand concepts and catch up
        * Assisted campers with problem solving and debugging while completing their projects
        * Designed more challenging projects for ambitious campers

      [Virtual Ventures Summer Camp]: http://www.virtualventures.ca


      Qualifications
      --------------

      ### Programming

      **C++ & C99** &raquo; 5 years - Personal projects and competition

      * Developed [bfit](https://github.com/j1i/bfit), an optimizing, just-in-time x86 compiler for the esoteric programming language [brainf**k](http://en.wikipedia.org/wiki/Brainfuck)
      * Created a 3D game engine using OpenGL 3, with features such as deferred rendering and voxel terrain


      **JavaScript** (jQuery, Node.js) &raquo; 5 years - Personal projects, workplace experience

      * Created numerous websites using Express.js driven by an MVC architecture ([frustra.org](http://frustra.org), [j-li.net](http://j-li.net), [wat-do.com](http://wat-do.com))
      * Wrote several open source Node.js libraries, such as a Markdown based blog platform and an RCON client


      **PHP** &raquo; 4 years - Personal projects

      * Created [Portal2Sounds.com](http://www.portal2sounds.com/), a soundboard of audio clips from the game Portal 2
        * As of August 2012, it has served over **30,000,000** aggregate views, and over 3.5 TB of content
      * Created an event registration system for a school conference, with an AJAX driven client


      **Java** &raquo; 2 years - Personal projects and competition

      * Created [MyCraft](http://frustra.org/mycraft), a mod loader for the popular game *Minecraft* that allows users to extend the game very easily
        * As of August 2012, MyCraft has had over **750,000** unique downloads
      * Created [TetrUs](https://github.com/j1i/tetrus), a peer-to-peer multiplayer version of *Tetris* by writing [jp33r](https://github.com/j1i/jp33r), a UDP hole punching library


      **Ruby** &raquo; 3 months - Workplace experience

      * Worked on large-scale Ruby on Rails projects at Shopify


      **Go** &raquo; 3 months - Personal projects

      **.NET** (Visual C#, ASP.NET) &raquo; 4 months - Workplace experience

      **SQL** (MySQL, PostgreSQL), **MongoDB**, **Redis**, **AJAX**, **HTML** (Jade, erb), **CSS** (LESS, SCSS)

    br
    .page_break

    :markdown

      ### Tools and Software
      #### Proficient with:
        * Linux (Debian, Arch, Ubuntu, CentOS), Mac OS X, Windows
        * Git, Mercurial, Subversion
        * Sublime Text 2, vim, Visual Studio, Xcode, Code::Blocks
        * Unix shells (zsh, bash, sh)



      Extracurricular
      ---------------

      ### Stack Overflow Contributor &raquo; August 10, 2011 - Present
      #### [stackoverflow.com](http://stackoverflow.com) (username: jli)
        * Answering questions primarily about C++, PHP, Java, and Javascript
        * 146 answers, with 43 accepted as of October 10, 2012

      ### School Audio Visual Team Member &raquo; December, 2009 - June 2012
        * Setup and operation of sound equipment for school events
        * Aiding systems admin with setup of computer labs

      Awards
      ------

      ### Competition
      **Canadian Computing Competition**, University of Waterloo

      * May 2012 - National Bronze Medallist
      * May 2011 - National Bronze Medallist
      * February 2011 - 2nd Place in Ontario North and East


      **Google Code Jam** - Online Round 1 Qualifier, 2010 (username: jli1)

      **Canada Wide Science Fair** - Silver Medal in the Intermediate Engineering category, 2009


      **Ottawa Regional Science Fair**

      * 2009 - Best in fair
      * 2008 - 2nd place in the Engineering and Computing Science division
      * 2007 - 3rd place in the Engineering and Computing Science division

      ### Academic
      * High School Silver Medal, Grades 9 - 12
        * Awarded to students with over 90% final average

      Education
      ---------

      ### Candidate for Bachelor of Software Engineering
        * Honours Software Engineering, University of Waterloo, Ontario, September 2012 - Present
          * Major average: 90%
        
      ### Ontario Secondary School Diploma
        * Sir Robert Borden High School, Ottawa, Ontario, September 2008 - June 2012
