block resume-content
  .resume-container
    .experience
      h3 Experience

      div.job
        h4
          span.title Developer Intern
          span.at  @ 
          span.employer: a(href='http://shopify.com') Shopify
        p.duration May 2013 - Present
        p.description An e-commerce platform hosting over 50,000 stores.
        ul.what
          li Developing features for the single-page application representing the core product.
          li Optimizing client-side performance through extensive profiling and testing.
          li Contributing performance and feature enhancements to 
            a(href='https://github.com/Shopify/batman') batman.js
            | , the open-source framework for building rich web applications created and used by Shopify.
        ul.tools
          li CoffeeScript
          li JavaScript
          li batman.js
          li HTML
          li Ruby on Rails
          li MySQL
          li Git(hub)

      div.job
        h4
          span.title Developer Intern
          span.at  @ 
          span.employer: a(href='http://shopify.com') Shopify
        p.duration June - September 2012
        ul.what
          li Developed major features for the in-house applicant tracking system, including Google Calendar integration, email notifications, applicant evaluations, and many more.
          li Collaborated in an agile, test driven development process involving extensive code review and communication.
        ul.tools
          li Ruby on Rails
          li SCSS
          li ActiveRecord
          li MySQL
          li PostgreSQL
          li Heroku
          li Git(hub)

      div.job
        h4
          span.title Software Developer
          span.at  @ 
          span.employer: a(href='http://sagedata.com') SageData
        p.duration June - September 2011
        p.description Asset management through barcoding and RFID.
        ul.what
          li Designed and implemented a security patrol tracking system with a small team, creating versions to target desktops, mobile devices, and web clients.
            | Shipped the final product to very satisfied customers.
          li Took the initiative to develop automated testing for new software, and performed manual testing for existing software.

        ul.tools
          li Visual C#
          li ASP.NET
          li HTML
          li CSS
          li MSSQL
          li PostgreSQL
          li Mercurial

      div.job
        h4
          span.title Camp Instructor
          span.at  @ 
          span.employer: a(href='http://virtualventures.ca') Virtual Ventures
        p.duration June - August 2010
        p.description Summer camp focused on developing youth interest in technology and engineering.
        ul.what
          li Created lesson plans in the areas of computer science, web design, and information security for campers aged 10-15.
          li Taught groups of campers how to create websites with HTML and CSS, over SSH and SCP.
          li Created a video player system using PHP and MySQL to serve campers every morning and afternoon.

        ul.tools
          li PHP
          li HTML
          li CSS
          li MySQL
          li bash

      div.job
        h4
          span.title Volunteer
          span.at  @ 
          span.employer: a(href='http://virtualventures.ca') Virtual Ventures
        p.duration Summers 2008-2009
        ul.what
          li Aided instructors in teaching lessons by helping struggling campers understand concepts and catch up.
          li Assisted campers with problem solving and debugging while completing their projects.
          li Designed more challenging projects for ambitious campers.


    .qualifications
      h3 Qualifications


      div.language
        h5.info
          span.title JavaScript
          span.separator  &raquo; 
          span.duration 6 years
        p.description Workplace experience and personal projects. I like CoffeeScript too.

        //:markdown
          * Created numerous websites using Express.js driven by an MVC architecture ([frustra.org](http://frustra.org), [j-li.net](http://j-li.net), [wat-do.com](http://wat-do.com))
          * Wrote several open source Node.js libraries, such as a Markdown based blog platform and an RCON client


      div.language
        h5.info
          span.title C++ &amp; C99
          span.separator  &raquo; 
          span.duration 5 years
        p.description Personal projects and competition.

        //:markdown
          * Developed [bfit](https://github.com/pushrax/bfit), an optimizing, just-in-time x86 compiler for the esoteric programming language [brainf**k](http://en.wikipedia.org/wiki/Brainfuck)
          * Created a 3D game engine using OpenGL 3, with features such as deferred rendering and voxel terrain

      div.language
        h5.info
          span.title Java
          span.separator  &raquo; 
          span.duration 2 years
        p.description Personal projects and competition.

        //:markdown
          * Created [MyCraft](http://frustra.org/mycraft), a mod loader for the popular game *Minecraft* that allows users to extend the game very easily
          * As of August 2012, MyCraft has had over **750,000** unique downloads
          * Created [TetrUs](https://github.com/pushrax/tetrus), a peer-to-peer multiplayer version of *Tetris* by writing [jp33r](https://github.com/pushrax/jp33r), a UDP hole punching library


      div.language
        h5.info
          span.title Ruby
          span.separator  &raquo; 
          span.duration 8 months
        p.description Workplace experience, personal projects.

        //:markdown
          * Worked on large-scale Ruby on Rails projects at Shopify


      div.language
        h5.info
          span.title Go
          span.separator  &raquo; 
          span.duration 7 months
        p.description Personal projects. Go is my current preferred language; its concurrency features are amazing.


      div.language
        h5.info
          span.title .NET
          span.separator  &raquo; 
          span.duration 3 months
        p.description Workplace experience (Visual C#, ASP.NET).


      div.language
        h5.info
          span.title PHP
          span.separator  &raquo; 
          span.duration 4 years
        p.description Personal projects.

        //:markdown
          * Created [Portal2Sounds.com](http://www.portal2sounds.com/), a soundboard of audio clips from the game Portal 2
          * As of August 2012, it has served over **30,000,000** aggregate views, and over 3.5 TB of content
          * Created an event registration system for a school conference, with an AJAX driven client


      div.tool
        h5.info
          span.title Databases
        p.description MySQL/MariaDB, PostgreSQL, MongoDB, Redis, Memcached.

      div.tool
        h5.info
          span.title Web Technologies
        p.description HTML (HTML5, Jade, erb, etc.), CSS (CSS3, LESS, SCSS, etc.), AJAX.

      div.tool
        h5.info
          span.title Version Control
        p.description Git &amp; Mercurial with feature branching and proper workflow, Subversion.

      div.tool
        h5.info
          span.title Operating Systems
        p.description Various flavours of Linux (esp. Debian, Arch, Ubuntu), Mac OS X, Windows. I use zsh as my shell of choice, and vim as my editor of choice.


    .education
      h3 Education

      h5 Candidate for 
        span.title Bachelor of Software Engineering
      p.duration September 2012 - Present
      :markdown
        * Honours Software Engineering, University of Waterloo, Ontario.

      h5 Ontario 
        span.title Secondary School Diploma
      p.duration September 2008 - June 2012
      :markdown
        * Sir Robert Borden High School, Ottawa, Ontario.
